{:diffs  ({:new    "IJPL-188228 JSON. Cannot load the latest OpenAPI Specification schema [B][2025.2,2025.1.X][Backporting]**\\[Blocking-Release\\]**"
           :old    "IJPL-188228 Test issue with backport tag"
           :suffix " [B][2025.2,2025.1.X][Backporting]**\\[Blocking-Release\\]**"}
          {:new    "IJPL-123456 Version mismatch issue [B][2025.2,2025.1.X][Backporting]"
           :old    "IJPL-123456 Version mismatch issue"
           :suffix " [B][2025.2,2025.1.X][Backporting]"}
          {:new    "IJPL-789012 No backport needed [1][F][2025.2][Testing]"
           :old    "IJPL-789012 No backport needed"
           :suffix " [1][F][2025.2][Testing]"}
          {:new    "IJPL-789012 No backport needed [2][F][2025.2][Testing]"
           :old    "IJPL-789012 No backport needed"
           :suffix " [2][F][2025.2][Testing]"}
          {:new    "IJPL-345678 Empty collections [T][Open]"
           :old    "IJPL-345678 Empty collections"
           :suffix " [T][Open]"})
 :issues ("IJPL-188228"
           "IJPL-123456"
           "IJPL-789012"
           "IJPL-789012"
           "IJPL-345678")
 :text   "IJPL-188228 JSON. Cannot load the latest OpenAPI Specification schema [B][2025.2,2025.1.X][Backporting]**\\[Blocking-Release\\]**
IJPL-123456 Version mismatch issue [B][2025.2,2025.1.X][Backporting]
IJPL-789012 No backport needed [1][F][2025.2][Testing]
IJPL-789012 No backport needed [2][F][2025.2][Testing]
IJPL-345678 Empty collections [T][Open]"}