{"IJPL-162522"
 {:idReadable "IJPL-162522",
  :summary
  "Kubernetes. Kubernetes.RefreshModel analytics reports noise",
  :id "25-5731735",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-64346"
 {:idReadable "IJPL-64346",
  :summary "Local JSON schema for YAML file is recognized unstably",
  :id "25-5120694",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-65348"
 {:idReadable "IJPL-65348",
  :summary
  "Terraform.  Add Terraform icon to the Terraform Tools menu ",
  :id "25-5130819",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Reopened",
  :planned-for ("2024.2.X")},
 "IJPL-149378"
 {:idReadable "IJPL-149378",
  :summary
  "Data Source settings, Kubernetes tab: settings are saved in 1/3 cases",
  :id "25-5354123",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-158211"
 {:idReadable "IJPL-158211",
  :summary
  "NPE at com.intellij.kubernetes.view.ui.actions.KubernetesModelBasedDumbAwareAction.actionPerformed",
  :id "25-5506576",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-164125"
 {:idReadable "IJPL-164125",
  :summary
  "Terraform: T: Module$Companion.getModule: No module root for PsiDirectory on typing when looking for a relative module",
  :id "25-5828222",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-155699"
 {:idReadable "IJPL-155699",
  :summary
  "GitHub Workflows: Cron: wrong caret position when hitting Enter after cron expression",
  :id "25-5394574",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-179863"
 {:idReadable "IJPL-179863",
  :summary
  "YAML: When pasting a key as path at the end of a YAML file, the file becomes invalid",
  :id "25-6015494",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-66896"
 {:idReadable "IJPL-66896",
  :summary "Kubernetes: support debug command/ephemeral containers",
  :id "25-4610009",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("Requested")},
 "IDEA-356011"
 {:idReadable "IDEA-356011",
  :summary
  "Terraform. WSL. Format file fails with \"No file or directory...\" error",
  :id "25-5492211",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-173823"
 {:idReadable "IJPL-173823",
  :summary
  "No completion when the custom JSON schema referenced in the YAML file",
  :id "25-6000432",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-175482"
 {:idReadable "IJPL-175482",
  :summary "Kubernetes: A/B Test for a separate Kubernetes toolwindow",
  :id "25-6114909",
  :resolved 1741778567740,
  :assignee "Nicolay Mitropolsky",
  :state "Fixed",
  :planned-for ("2025.1")},
 "IJPL-176233"
 {:idReadable "IJPL-176233",
  :summary
  "Kubernetes. The resource group is collapsed on selection when WATCH is not permitted",
  :id "25-6142247",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-171441"
 {:idReadable "IJPL-171441",
  :summary
  "Telepresence: telepresence helm install doesn't work with contexts from non-default kubeconfigs",
  :id "25-5923256",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-64971"
 {:idReadable "IJPL-64971",
  :summary
  "Should not adding space between double braces on yaml files",
  :id "25-4554151",
  :resolved 1741952373870,
  :assignee "Nicolay Mitropolsky",
  :state "Answered",
  :planned-for ()},
 "IJPL-162642"
 {:idReadable "IJPL-162642",
  :summary
  "IDE doesn't prompt us to enable the telepresence traffic manager",
  :id "25-5739758",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-165787"
 {:idReadable "IJPL-165787",
  :summary "Akamai model is out of date",
  :id "25-5887146",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-67420"
 {:idReadable "IJPL-67420",
  :summary
  "Kubernetes: provide an easy way to run temporary Busybox pod in namespace",
  :id "25-3757848",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-164360"
 {:idReadable "IJPL-164360",
  :summary "QuickDoc Fus Reporting Fix",
  :id "25-5841100",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2024.3")},
 "IJPL-179883"
 {:idReadable "IJPL-179883",
  :summary
  "DataSource settings in Kubernetes tab are reset on the IDE restart",
  :id "25-6300510",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-66781"
 {:idReadable "IJPL-66781",
  :summary "Data Sources and Drivers - Kubernetes",
  :id "25-5048397",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-174171"
 {:idReadable "IJPL-174171",
  :summary "T: KubernetesTableCellRenderer.setValue",
  :id "25-6045240",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-156717"
 {:idReadable "IJPL-156717",
  :summary "Kubernetes: Attach debugger / profiler",
  :id "25-5439966",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-157584"
 {:idReadable "IJPL-157584",
  :summary
  "Rename Delete action and change text in the confirmation dialog",
  :id "25-5475892",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-180189"
 {:idReadable "IJPL-180189",
  :summary "Terraform FMT on autosave doesn't work in PHP Storm",
  :id "25-6309089",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-173240"
 {:idReadable "IJPL-173240",
  :summary
  "NPE when refreshing database with configured k8s port forwarding",
  :id "25-6000277",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-171488"
 {:idReadable "IJPL-171488",
  :summary "Repository Creation Template not supported",
  :id "25-5924922",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-67480"
 {:idReadable "IJPL-67480",
  :summary "Kubernetes: show/choose active namespace from editor",
  :id "25-4390893",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "In Design",
  :planned-for ("2025.1")},
 "IJPL-171685"
 {:idReadable "IJPL-171685",
  :summary "kubectl tooltip flickering",
  :id "25-5911464",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-175520"
 {:idReadable "IJPL-175520",
  :summary
  "Kubernetes. Exception when refresh action called using the shortcut in some tool windows",
  :id "25-6115792",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-166330"
 {:idReadable "IJPL-166330",
  :summary
  "YAML file recognized as Kubernetes one couldn't be reassigned",
  :id "25-5903513",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-162687"
 {:idReadable "IJPL-162687",
  :summary
  "Kubernetes plugin selection doesn't use metadata.name to define the name of namespace",
  :id "25-5741572",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Submitted",
  :planned-for ()},
 "IJPL-175028"
 {:idReadable "IJPL-175028",
  :summary "Kubernetes: improve watch api usage statistics",
  :id "25-6092220",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "In progress",
  :planned-for ()},
 "IJPL-155687"
 {:idReadable "IJPL-155687",
  :summary "Add run configurations for Kubernetes configs",
  :id "25-5387692",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-64404"
 {:idReadable "IJPL-64404",
  :summary
  "When defining a YAML schema locally, ensure the path is completed correctly",
  :id "25-4882149",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("2025.1")},
 "IJPL-63579"
 {:idReadable "IJPL-63579",
  :summary "Composer Version Inspection is Wrong",
  :id "25-3262083",
  :resolved nil,
  :assignee "Sergey Simonchik",
  :state "Open",
  :planned-for ()},
 "IJPL-173482"
 {:idReadable "IJPL-173482",
  :summary "IDE prevents Helm charts from updating dependencies",
  :id "25-5949749",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ()},
 "IJPL-66806"
 {:idReadable "IJPL-66806",
  :summary "Kubernetes. Debug support",
  :id "25-3632463",
  :resolved nil,
  :assignee "Nicolay Mitropolsky",
  :state "Open",
  :planned-for ("Requested")}}
