{:diffs ({:new    "IJPL-175028 Kubernetes: improve watch api usage statistics **\\[In progress\\]**"
          :old    "IJPL-175028 Kubernetes: improve watch api usage statistics"
          :suffix " **\\[In progress\\]**"}
         {:new    nil
          :old    "IJPL-175482 Kubernetes: A/B Test for a separate Kubernetes toolwindow"
          :suffix " **\\[2025.1\\]\\[Fixed\\]**"}
         {:new    "IJPL-164125 Terraform: T: Module$Companion.getModule: No module root for PsiDirectory on typing when looking for a relative module **\\[2025.1\\]**"
          :old    "IJPL-164125 Terraform: T: Module$Companion .getModule: No module root for PsiDirectory on typing when looking for a relative module"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-65348 Terraform.  Add Terraform icon to the Terraform Tools menu  **\\[2024.2.X\\]\\[Reopened\\]**"
          :old    "IJPL-65348 Terraform. Add Terraform icon to the Terraform Tools menu"
          :suffix " **\\[2024.2.X\\]\\[Reopened\\]**"}
         {:new    "IJPL-164360 QuickDoc Fus Reporting Fix **\\[2024.3\\]**"
          :old    "IJPL-164360 QuickDoc Fus Reporting Fix"
          :suffix " **\\[2024.3\\]**"}
         {:new    nil
          :old    "IJPL-64971 Should not adding space between double braces on yaml files"
          :suffix " **\\[Answered\\]**"}
         {:new    "IJPL-162687 Kubernetes plugin selection doesn't use metadata.name to define the name of namespace **\\[Submitted\\]**"
          :old    "IJPL-162687 Kubernetes plugin selection doesn't use metadata.name to define the name of namespace"
          :suffix " **\\[Submitted\\]**"}
         {:new    "IJPL-165787 Akamai model is out of date"
          :old    "IJPL-165787 Terraform plugin, akamai model out of date"
          :suffix nil}
         {:new    "IJPL-162642 IDE doesn't prompt us to enable the telepresence traffic manager"
          :old    "IJPL-162642 IDE doesn't prompt us to enable the telepresence traffic manager"
          :suffix nil}
         {:new    "IJPL-171441 Telepresence: telepresence helm install doesn't work with contexts from non-default kubeconfigs"
          :old    "IJPL-171441 Telepresence: telepresence helm install doesn't work with contexts from non-default kubeconfigs"
          :suffix nil}
         {:new    "IJPL-166330 YAML file recognized as Kubernetes one couldn't be reassigned"
          :old    "IJPL-166330 YAML file recognized as Kubernetes one couldn't be reassigned"
          :suffix nil}
         {:new    "IJPL-66896 Kubernetes: support debug command/ephemeral containers **\\[Requested\\]**"
          :old    "IJPL-66896 Kubernetes: support debug command/ephemeral containers"
          :suffix " **\\[Requested\\]**"}
         {:new    "- IJPL-67420 Kubernetes: provide an easy way to run temporary Busybox pod in namespace **\\[2025.1\\]**"
          :old    "- IJPL-67420 Kubernetes: provide an easy way to run temporary Busybox pod in namespace"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-66806 Kubernetes. Debug support **\\[Requested\\]**"
          :old    "IJPL-66806 Kubernetes. Debug support"
          :suffix " **\\[Requested\\]**"}
         {:new    "IJPL-162522 Kubernetes. Kubernetes.RefreshModel analytics reports noise **\\[2025.1\\]**"
          :old    "IJPL-162522 Kubernetes. Kubernetes.RefreshModel analytics reports noise"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-158211 NPE at com.intellij.kubernetes.view.ui.actions.KubernetesModelBasedDumbAwareAction.actionPerformed **\\[2025.1\\]**"
          :old    "IJPL-158211 NPE at com.intellij.kubernetes.view.ui.actions.KubernetesModelBasedDumbAwareAction.actionPerformed"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-155687 Add run configurations for Kubernetes configs **\\[2025.1\\]**"
          :old    "IJPL-155687 Add run configurations for Kubernetes configs"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-64404 When defining a YAML schema locally, ensure the path is completed correctly **\\[2025.1\\]**"
          :old    "IJPL-64404 When defining a YAML schema locally, ensure the path is completed correctly"
          :suffix " **\\[2025.1\\]**"}
         {:new    "IJPL-67480 Kubernetes: show/choose active namespace from editor **\\[2025.1\\]\\[In Design\\]**"
          :old    "IJPL-67480 Kubernetes: show/choose active namespace from editor"
          :suffix " **\\[2025.1\\]\\[In Design\\]**"})
 :text  "# Active Backlog

IJPL-176233 Kubernetes. The resource group is collapsed on selection when WATCH is not permitted
IJPL-175028 Kubernetes: improve watch api usage statistics **\\[In progress\\]**
IJPL-175520 Kubernetes. Exception when refresh action called using the shortcut in some tool windows
IJPL-180189 Terraform FMT on autosave doesn't work in PHP Storm
IJPL-164125 Terraform: T: Module$Companion.getModule: No module root for PsiDirectory on typing when looking for a relative module **\\[2025.1\\]**
IJPL-173823 No completion when the custom JSON schema referenced in the YAML file
IJPL-65348 Terraform.  Add Terraform icon to the Terraform Tools menu  **\\[2024.2.X\\]\\[Reopened\\]**
IJPL-164360 QuickDoc Fus Reporting Fix **\\[2024.3\\]**
IDEA-356011 Terraform. WSL. Format file fails with \"No file or directory...\" error
IJPL-149378 Data Source settings, Kubernetes tab: settings are saved in 1/3 cases
IJPL-157584 Rename Delete action and change text in the confirmation dialog
IJPL-174171 T: KubernetesTableCellRenderer.setValue

# To be prioritised

IJPL-63579 Composer Version Inspection is Wrong
IJPL-179883 DataSource settings in Kubernetes tab are reset on the IDE restart
IJPL-66781 Data Sources and Drivers - Kubernetes
IJPL-173240 NPE when refreshing database with configured k8s port forwarding
IJPL-162687 Kubernetes plugin selection doesn't use metadata.name to define the name of namespace **\\[Submitted\\]**
IJPL-165787 Akamai model is out of date
IJPL-162642 IDE doesn't prompt us to enable the telepresence traffic manager
IJPL-171441 Telepresence: telepresence helm install doesn't work with contexts from non-default kubeconfigs
IJPL-171488 Repository Creation Template not supported

IJPL-166330 YAML file recognized as Kubernetes one couldn't be reassigned
IJPL-179863 YAML: When pasting a key as path at the end of a YAML file, the file becomes invalid
IJPL-64346 Local JSON schema for YAML file is recognized unstably
IJPL-173482 IDE prevents Helm charts from updating dependencies
IJPL-155699 GitHub Workflows: Cron: wrong caret position when hitting Enter after cron expression
IJPL-171685 kubectl tooltip flickering

# Planned for current release

IJPL-66896 Kubernetes: support debug command/ephemeral containers **\\[Requested\\]**
- IJPL-67420 Kubernetes: provide an easy way to run temporary Busybox pod in namespace **\\[2025.1\\]**

IJPL-66806 Kubernetes. Debug support **\\[Requested\\]**
- IJPL-156717 Kubernetes: Attach debugger / profiler

IJPL-162522 Kubernetes. Kubernetes.RefreshModel analytics reports noise **\\[2025.1\\]**
IJPL-158211 NPE at com.intellij.kubernetes.view.ui.actions.KubernetesModelBasedDumbAwareAction.actionPerformed **\\[2025.1\\]**
IJPL-155687 Add run configurations for Kubernetes configs **\\[2025.1\\]**

IJPL-64404 When defining a YAML schema locally, ensure the path is completed correctly **\\[2025.1\\]**

IJPL-67480 Kubernetes: show/choose active namespace from editor **\\[2025.1\\]\\[In Design\\]**"}